<h1>Welcome to Saltine News!</h1>
  <h3> (All saltines all the time!) </h3>


  <% @post.each do |post| %>
    <%= "Title: "%> <a href= '/posts/<%=post.id%>'><%=post.title%></a><br />
    <p><%= "By: "%> <a href= '/users/<%=post.user_id%>'%><%=find_username_from_post(post.id)%></a></p>
  <% end %>